/* Utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black; /*da cancellare*/
  min-height: 100px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

header {
  background-color: #255ee9;
}

footer {
  background-color: #23272a;
  color: white;
}
/* FINE UTILITY */

/* INIZIO HEADER */
.container {
  max-width: 1170px;
  margin: 0 auto;
}
h1 {
  color: #ffffff;
  font-size: 52px;
}

.btn {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
}

.buttons {
  padding: 20px 20px;
}

.btn2 {
  margin-left: 15px;
  background-color: #23272a;
  color: white;
}
.bg-grey {
  background-color: #f6f6f6;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
}

header nav.container {
  padding: 10px 0;
}

header nav ul {
  min-width: 500px;
}

.hero {
  background-image: url("../img/jumbo.png");
  height: 600px;
  background-size: cover;
}

.inner-hero {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  padding-top: 115px;
  vertical-align: middle;
}

.sottotitolo {
  padding-top: 40px;
  color: white;
  font-size: 17px;
}

/* INIZIO MAIN */

.section {
  /*SEZIONI CON IMMAGINI GENERALE*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
}

h2 {
  /*TITOLI DELLE SEZIONI*/
  font-size: 38px;
}

.container-testo {
  /*CONTAINER DEL TITOLO E DELLE DIDASCALIE*/
  max-width: 290px;
}

.paragrafo {
  /*SOLO I PARAGRAFI*/
  padding-top: 15px;
  font-size: 16px;
  max-width: 800px;
}

.reverse {
  /*SEZIONI AL CONTRARIO*/
  flex-direction: row-reverse;
  padding: 100px 0;
}
.upper {
  /*ULTIMA SEZIONE COL TESTO IN ALTO*/
  display: flex;
  justify-content: center;
}
.upper-text {
  max-width: 1170px;
  text-align: center;
}

/* SEZIONE DOWNLOAD  */
.section-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titolo-download {
  font-size: 28px;
}

.bottom-btn {
  background-color: #8ea1e1;
  color: #ffffff;
  align-items: flex-end;
  margin-bottom: 80px;
}
